<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347503185594-rbtf2bk18r7tbabf0liiehk955pvrhij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347503185594-rbtf2bk18r7tbabf0liiehk955pvrhij</string>
	<key>API_KEY</key>
	<string>AIzaSyBCRLTnhPyfexB0DZJCFJ8eD9yG-41lrNU</string>
	<key>GCM_SENDER_ID</key>
	<string>347503185594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackedpractice</string>
	<key>PROJECT_ID</key>
	<string>stackedflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>stackedflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347503185594:ios:be4d4f86fce2fabd8b7c83</string>
</dict>
</plist>